@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --container-width: 1270px; /*размер блока 1240px, +15px - слева + 15px - справа*/
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
  --orange: #ff794e;
  --font-size: 25px;
  --line-height: 1.5;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: rgba(15, 31, 28, 1);
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-left {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

/* ===================================== Header =====================================*/
.header {
  overflow: hidden;
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%), #204434;
  color: #fff;
}
.header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 96px;
  width: 100%;
  background-image: url("../img/header/header-bottom.svg");
  background-repeat: no-repeat;
}
.header a {
  color: inherit;
}

.header__top {
  margin-bottom: 86px;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.header__content {
  position: relative;
  z-index: 5;
  max-width: 592px;
}

/* -------------- Nav -------------- */
.nav {
  position: relative; /*т.к. картинка ofrhsdftn кнопки навигации*/
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px; /*чтобы на мобильной версии расстояние между блоками было не меньше 80px*/
  opacity: 1;
}

/* Logo */
.nav__logo {
}
.logo {
  font-weight: 700;
  font-size: calc(var(--font-size) * 0.8);
  line-height: calc(var(--font-size) * 0.8 * var(--line-height));
  /* font-size: 20px; */
  /* line-height: 30px; */
}
.logo a {
  color: inherit !important;
}

/* List */
.nav__list {
  display: flex;
  column-gap: 80px; /*чтобы рассояние между элементами было 80px*/
  font-weight: 500;
  font-size: calc(var(--font-size) * 0.6);
  line-height: calc(var(--font-size) * 0.6 * var(--line-height));
  /* font-size: 15px; */
  /* line-height: 22px; */
}

.nav__list a {
  position: relative;
}
.nav__list a.active:after,
.nav__list a:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 10px; /*Чтобы подчеркивание не было на всю ширину слова*/
  bottom: -6px;
  display: block;
  height: 4px;
  border-radius: 100px;
  background: #c4c4c4;
  /* width: 35px; усли убрать right: 10px */
}

/* Login */
.nav__login {
  display: flex;
  column-gap: 25px; /*чтобы рассояние между элементами было 25px*/
  align-items: center;
  font-weight: 500;
  font-size: calc(var(--font-size) * 0.6);
  line-height: calc(var(--font-size) * 0.6 * var(--line-height));
  /* font-size: 15px; */
  /* line-height: 22px; */
}

/* btn- toggle*/
.nav__btn-toggle {
  display: none;
  background: none;
}
.menu-icon-wrapper {
  --time: 0.2s;
  --top: 9px;
  --width: 40px;
  --line-height: 4px;
  --border-radius: calc(var(--line-height) / 2);
  --color: #fff;
  --color-active: #ff794e;

  width: var(--width);
  height: calc(var(--top) * 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-icon {
  position: relative;
  width: 100%;
  height: var(--line-height);
  border-radius: var(--border-radius);
  background-color: var(--color);
}
.menu-icon:before,
.menu-icon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--line-height);
  border-radius: var(--border-radius);
  background-color: var(--color);
}
.menu-icon:before {
  top: calc(-1 * var(--top));
  transition: transform var(--time) linear, top var(--time) ease-in var(--time);
}
.menu-icon:after {
  top: calc(1 * var(--top));
  transition: transform var(--time) linear, top var(--time) ease-in var(--time);
}

.js-menu-icon-active {
  background-color: transparent;
}
.js-menu-icon-active:before {
  top: 0px;
  background-color: var(--color-active);
  transform: rotate(45deg);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}
.js-menu-icon-active:after {
  top: 0px;
  background-color: var(--color-active);
  transform: rotate(-45deg);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

/* ===================================== Header ===================================== */

/* header-content */
.header__badge {
  display: inline-block;
  margin-bottom: 7px;
  padding: 11px 30px;
  border-radius: 15px;
  font-weight: 500;
  font-size: calc(var(--font-size) * 0.72);
  line-height: calc(var(--font-size) * 0.72 * var(--line-height));
  /* font-size: 18px; */
  /* line-height: 27px; */
  background: rgba(255, 255, 255, 0.25);
}
.header__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: calc(var(--font-size) * 2.2);
  line-height: calc(var(--font-size) * 2.2 * var(--line-height));
  /* font-size: 55px; */
  /* line-height: 82px; */
}
.header__text {
  margin-bottom: 68px;
  font-weight: 700;
  font-size: calc(var(--font-size) * 1);
  line-height: calc(var(--font-size) * 1 * var(--line-height));
  /* font-size: 25px; */
  /* line-height: 38px; */
  opacity: 0.5;
}

/* header-image */

/* header-image (мой) */
.header__img {
  position: relative;
  /* width: 100%; */
}
.header__img img {
  position: absolute;
  bottom: -185px;
  right: -100px;
  max-width: unset;
  width: 894px;
  height: 940px;

  pointer-events: none;
}

.header__img:after {
  content: "";
  position: absolute;
  top: -15px;
  right: -50px;
  z-index: 10;
  width: 830px;
  height: 622px;
  background-image: url(./../img/header/header-elements.svg);
  pointer-events: none;
}

/* ===================================== Destinations ===================================== */

.destinations {
  padding: 96px 0 100px 0px;
  overflow-x: hidden; /*чтобы убрать скрол при уменьшении экрана*/
}

.destinations__row {
  display: flex;
  column-gap: 50px;
}
.destinations__content {
  margin-top: 27px;
  min-width: 456px;
  /* width: 456px; */
}
.destinations-title {
  font-weight: 600;
  font-size: calc(var(--font-size) * 2.2);
  line-height: calc(var(--font-size) * 2.2 * var(--line-height));
  /* font-size: 55px; */
  /* line-height: 82px; */
}
.destinations-title span {
  display: block;
  font-size: calc(var(--font-size) * 1.2);
  line-height: calc(var(--font-size) * 1.2 * var(--line-height));
  /* font-size: 30px; */
  /* line-height: 45px; */
}
.destinations-text {
  margin: 15px 0 60px 0;
  font-weight: 500;
  font-size: calc(var(--font-size) * 1);
  line-height: calc(var(--font-size) * 1 * var(--line-height));
  /* font-size: 25px; */
  /* line-height: 38px; */
  color: var(--secondary);
}

.destinations__slider {
  flex-shrink: 0; /*чтобы блок не уменьшался при уменьшении экрана*/
  width: 1110px;
}
.slider {
  position: relative;
  height: 456px;
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  border-radius: 35px;
  transition: 0.2s ease-in;
  object-fit: cover;
}
.slider .center .slider__item {
  margin-top: 0;
  /* min-width: 380px; */
  height: 456px;
}

.slider-btn {
  width: 68px;
  height: 68px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 50%;

  /*флексы можно не указывать*/
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
}

.slider__btn--prev {
  left: -27px;
}
.slider__btn--next {
  right: -27px;
}
.slider__btn--prev:hover,
.slider__btn--next:hover {
  background: linear-gradient(129.54deg, #dddddd 30%, #aaaaaa 70%);
}

/* ===================================== Customers ===================================== */

.customers {
  padding: 100px 0px 133px;
}
.container {
}
.customers__row {
  display: flex;
  column-gap: 68px;
}
.customers__img {
}
.customers__img img {
  max-width: 100%;
  border-radius: 60px;
}
.customers__content {
  max-width: 565px;
}
.customer__title {
  font-weight: 500;
  font-size: calc(var(--font-size) * 1.8);
  line-height: calc(var(--font-size) * 1.8 * var(--line-height));
  /* font-size: 45px; */
  /* line-height: 68px; */
  margin-bottom: 35px;
}
.review {
  max-width: 490px;
}
.review__client {
  display: flex;
  column-gap: 33px;
  align-items: center;
  margin-bottom: 60px;
}
.review__client-avatar {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #ff794e;
}
.review__client-avatar img {
  width: 100%;
}
.review__client-desk {
}
.review__client-desk-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: calc(var(--font-size) * 1.32);
  line-height: calc(var(--font-size) * 1.32 * var(--line-height));
  /* font-size: 33px; */
  /* line-height: 50px; */
}
.review__client-desk-country {
  font-weight: 400;
  font-size: calc(var(--font-size) * 1);
  line-height: calc(var(--font-size) * 1 * var(--line-height));
  /* font-size: 25px; */
  /* line-height: 38px; */
  color: var(--secondary);
}
.review__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: calc(var(--font-size) * 0.88);
  line-height: calc(var(--font-size) * 0.88 * var(--line-height));
  /* font-size: 22px; */
  /* line-height: 33px; */
  color: var(--secondary);
}
.review__rating {
}

/* ===================================== Cta ===================================== */

.cta {
  padding: 100px 0;
}
.cta__plate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 580px;
  padding: 40px 15px;

  background: #ffffff;
  border-radius: 60px;
}
.cta__plate:before,
.cta__plate:after {
  content: "";
  position: absolute;
  width: 63px;
  height: 83px;
}
.cta__plate:before {
  top: 74px;
  right: 80px;
  background-image: url(./../img/cta/cta-el-01.svg);
}
.cta__plate:after {
  bottom: 56px;
  left: 74px;
  background-image: url(./../img/cta/cta-el-02.svg);
}

.cta__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: calc(var(--font-size) * 1.8);
  line-height: calc(var(--font-size) * 1.8 * var(--line-height));
  /* font-size: 45px; */
  /* line-height: 68px; */
}
.cta__text {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: calc(var(--font-size) * 1.2);
  line-height: calc(var(--font-size) * 1.2 * var(--line-height));
  /* font-size: 30px; */
  /* line-height: 45px; */
  color: var(--secondary);
}

/* ===================================== Subscribe ===================================== */

.subscribe {
  padding: 35px 0 56px 0;
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.subscribe__title {
  margin-bottom: 60px;
  max-width: 494px;
  font-weight: 600;
  font-size: calc(var(--font-size) * 2.2);
  line-height: calc(var(--font-size) * 2.2 * var(--line-height));
  /* font-size: 55px; */
  /* line-height: 82px; */
}

.subscribe-form {
  width: 100%;
  padding: 12px 15px 12px 46px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  background: linear-gradient(0deg, #ffffff, #ffffff), #c4c4c4;
  border-radius: 35px;
}
.subscribe-form__input {
  font-weight: 500;
  font-size: calc(var(--font-size) * 1);
  line-height: calc(var(--font-size) * 1 * var(--line-height));
  /* font-size: 24px; */
  /* line-height: 36px; */
}
.subscribe-form__input::placeholder {
  color: var(--secondary);
}

/* ===================================== Subscribe ===================================== */

.footer {
  padding: 56px 0 74px;
}
.footer a {
  color: var(--secondary);
}
.logo--footer {
  color: var(--orange);
}
.nav__list--footer a {
}
.nav__list.nav__list--footer a.active:after,
.nav__list.nav__list--footer a:hover:after {
  display: none;
}
.nav__list.nav__list--footer a.active {
  color: var(--orange);
}

/* ===================================== Button ===================================== */

.btn {
  display: inline-block;
  padding: 25px 45px;
  font-weight: 600;
  font-size: calc(var(--font-size) * 0.8);
  line-height: calc(var(--font-size) * 0.8 * var(--line-height));
  /* font-size: 20px; */
  /* line-height: 30px; */
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  color: #fefefe !important;
}
.btn:hover {
  color: var(--secondary) !important;
  background: linear-gradient(129.54deg, #dddddd 30%, #aaaaaa 70%);
  transition: all 0.5s ease-in;
}
/*Эффект проседания кнопки*/
.btn:active {
  position: relative;
  top: 2px;
}

.btn--login {
  padding: 13px 44px;
  font-weight: 500;
  font-size: calc(var(--font-size) * 0.6);
  line-height: calc(var(--font-size) * 0.6 * var(--line-height));
  /* font-size: 15px; */
  /* line-height: 22px; */
  border-radius: 100px;
}

.btn--header {
  padding: 27px 48px;
  font-size: calc(var(--font-size) * 1);
  line-height: calc(var(--font-size) * 1 * var(--line-height));
  /* font-size: 25px; */
  /* line-height: 38px; */
}

.btn--subscribe-form {
  padding: 34px 87px;
  font-size: calc(var(--font-size) * 1);
  line-height: calc(var(--font-size) * 1 * var(--line-height));
  /* font-size: 25px; */
  /* line-height: 38px; */
  border-radius: 35px;
}

/* ===================================== Media ===================================== */
@media (max-width: 1269px) {
  .container-left {
    padding-left: var(--container-padding);
  }
  .destinations__slider {
    width: 900px;
  }
}

@media (max-width: 1139px) {
  .nav__list {
    column-gap: 60px; /*чтобы рассояние между элементами было 80px*/
  }
  .header__img img {
    right: -175px;
  }
  .header__img:after {
    right: -155px;
  }
  .customers__row {
    column-gap: 50px;
  }
}

@media (max-width: 1024px) {
  .nav__list {
    column-gap: 40px; /*чтобы рассояние между элементами было 80px*/
  }
  .header__img img {
    right: -250px;
  }
  .header__img:after {
    right: -250px;
  }
  .destinations {
    padding: 50px 0 50px 0;
  }
  .destinations-text {
    margin: 15px 0 30px 0;
  }
  .destinations__slider {
    width: 700px;
  }
  .slider {
    height: 356px;
  }
  .slider .center .slider__item {
    margin-top: 0;
    height: 356px;
  }
  .slider .slider__item {
    margin-top: 27px;
    height: 302px;
  }
  .customers {
    padding: 65px 0px 90px;
  }
  .customers__row {
    column-gap: 30px;
  }
  .customer__title {
    margin-bottom: 20px;
  }
  .review__client {
    margin-bottom: 20px;
  }
  .cta {
    padding: 50px 0;
  }
}

@media (max-width: 850px) {
  :root {
    --font-size: 20px;
  }
  .nav__login--header,
  .nav__list--header {
    display: none !important;
  }
  .nav__btn-toggle {
    display: block !important;
  }
  .no-scroll {
    overflow-y: hidden;
  }
  .nav--mobile {
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    height: 100%;
    z-index: 99;

    flex-direction: column;
    align-items: center;
    padding: 35px 0;

    background: linear-gradient(200deg, #428e5f -17.38%, #112120 78.4%), #204434;
  }

  .nav--mobile .logo {
    font-size: 30px;
    line-height: 45px;
  }
  .nav--mobile .nav__list--header {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 22px;
    line-height: 33px;
  }
  .nav--mobile .nav__login--header {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 22px;
    line-height: 33px;
  }
  .nav--mobile .btn--login {
    font-size: 22px;
    line-height: 33px;
  }
  .nav--mobile .nav__btn-toggle {
    position: fixed;
    top: 45px;
    right: 15px;
  }
  .nav--mobile .nav__list--header a.active::after,
  .nav--mobile .nav__list--header a:hover::after {
    display: none;
  }
  .logo a {
    font-size: calc(var(--font-size) * 1.25);
  }
  .header__top {
    margin-bottom: 50px;
  }
  .header__row {
    flex-direction: column;
  }
  .header__img img {
    position: static;
    width: 100%;
    height: auto;
  }
  .header__img:after {
    top: 100px;
    right: 0px;
  }
  .header__badge {
    margin-bottom: 10px;
    padding: 9px 15px;
    border-radius: 20px;
  }
  .header__title {
    margin-bottom: 20px;
    line-height: 52px;
  }
  .header__text {
    max-width: 400px;
    margin-bottom: 40px;
    line-height: 30px;
  }
  .container-left {
    padding-right: 15px;
  }
  .destinations {
    padding: 30px 0 50px 0;
  }
  .destinations__row {
    flex-direction: column;
    row-gap: 50px;
  }
  .destinations__content {
    min-width: auto;
  }
  .destinations-text {
    margin: 5px 0 20px 0;
  }
  .destinations__slider {
    width: 100%;
    padding: 0 27px 0 27px;
  }
  .customers {
    padding: 50px 0px 65px;
  }
  .review__text {
    margin-bottom: 10px;
  }
  .review__rating img {
    width: 200px;
  }
  .cta {
    padding: 50px 0;
  }
  .cta__plate {
    min-height: 380px;
    padding: 20px 15px;
    border-radius: 30px;
  }
  .cta__plate::before {
    top: 30px;
    right: 30px;
  }
  .cta__plate::after {
    bottom: 30px;
    left: 30px;
  }
  .cta__title {
    margin-bottom: 15px;
  }
  .cta__text {
    margin-bottom: 30px;
  }

  .subscribe {
    padding: 45px 0 45px 0;
  }
  .subscribe__title {
    margin-bottom: 30px;
  }

  .btn {
    padding: 20px 30px;
    border-radius: 20px;
  }
  .btn--header {
    padding: 20px 30px;
    border-radius: 20px;
  }
  .btn--login {
    padding: 13px 34px;
    border-radius: 100px;
  }
  .footer {
    padding: 40px 0 45px;
  }
}

@media (max-width: 768px) {
  .header__img:after {
    display: none;
  }
  .slider {
    height: 306px;
  }
  .slider .center .slider__item {
    margin-top: 0;
    height: 306px;
  }
  .slider .slider__item {
    margin-top: 27px;
    height: 252px;
  }
  .customers__row {
    flex-direction: column-reverse;
  }
  .customers__img {
    margin-top: 30px;
  }
  .customers__img img {
    width: 100%;
  }
  .review__client-desk-name {
    margin-bottom: 0px;
  }
  .subscribe-form {
    padding: 10px 10px 10px 20px;
    column-gap: 10px;
    border-radius: 20px;
  }
  .nav--footer {
    flex-direction: column;
    row-gap: 15px;
  }
  .nav__logo--footer {
    order: 3;
  }
  .nav__list--footer {
    order: 1;
  }
  .nav__login--footer {
    order: 2;
  }
}

@media (max-width: 500px) {
  .subscribe-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 10px;
  }
  .subscribe-form input {
    padding: 10px 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #f3efef;
  }
}

@media (max-width: 425px) {
  .nav--mobile {
    width: 100%;
  }
  .nav--mobile .nav__list--header,
  .nav--mobile .nav__login--header {
    row-gap: 20px;
  }

  .review__client {
    column-gap: 20px;
  }
  .review__client-avatar {
    width: 90px;
    height: 90px;
  }
  .review__client-avatar img {
    width: 100%;
  }
}
